.login_container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login_form_container {
	width: 900px;
	height: 500px;
	display: flex;
	border-radius: 2rem;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_container h1 {
	font-size: 40px;
}

.inputs {
    outline: none;
    border: none;
	border-radius: 1rem;
    width: 358px;
    background-color: white;
	color:black;
	margin: 5px 0;
	padding: 15px;
    font-size: 14px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: black;
	border-radius: 5px;
	text-align: center;
}

.right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #3bb19b;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.right h1 {
	margin-bottom: 2rem;
	color: white;
	font-size: 40px;
	align-self: center;
}

.white_btns{
	border: none;
	outline: none;
	padding: 0.75rem 4rem;
	background-color: gray;
	border-radius: 2rem;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	color:white;
	transition: all 0.3s ease;
}
.white_btns:hover{
	background-color: rgb(133, 197, 37);
}

.green_btns {
	background-color: #3bb19b;
	color: white;
	margin-right: 12rem;
	border: none;
	outline: none;
	padding: 12px 0;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}