@use "../../scss/" as *;
a{
    transition: all 0.5s ease;
}
a:hover{
    color: rgb(153, 226, 42);
    transform: scale(1.05);
}
.logo {
    font-size: 2.5rem;
    font-weight: 600;
    @include flex(center, unset);

    img {
        margin-right: 10px;
        width: 50px;
        @include mobile {
            width: 30px;
            margin-right: 0;
        }
    }
    .logologo{
        padding-top: 0%;
    }
}

.header {
    height: $header-height;
    background-color: rgb(0, 0, 0 , 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: height 0.3s ease, background-color 0.3s ease;

    &.shrink {
        height: $header-shrink-height;
        background-color: $body-bg;
    }

    .footerHr{
        width: 100%;
        background: linear-gradient(to right, transparent, white, transparent);
        border: none;
        height: 1.5px;
    }
    &__wrap {
        @include flex(center, space-between);
        height: 100%;
        padding: 0 2rem;
        @include mobile {
            justify-content: center;
        }
    }

    .navbar {
        li {
          padding: 10px;
          cursor: pointer;
          ul {
            position: absolute;
            top: 3.4rem;
            right: -20px;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 1rem;
            box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
            z-index: 1;
            animation-name:dropdown-animation ;
            animation-duration: 0.3s;
            animation-timing-function: ease;
            &.dropdown-show {
              opacity: 1;
              visibility: visible;
            }
            &.dropdown-hide {
              opacity: 0;
              visibility: hidden;
            }
            .curveNav {
              width: 110px;
            }
          }
        }
      }
      
      @keyframes dropdown-animation {
        0% {
          opacity: 0;
          transform: translateY(-50px);
        }
      }
      
      

    &__nav {
        @include flex(center, unset);

        & > * ~ * {
            margin-left: 2rem;
        }

        li {
            display: inline-block;
            position: relative;
            padding: 5px 0;
            font-weight: 700;
            font-size: 1.5rem;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background-color: rgb(153, 226, 42);
                transform: scaleX(0);
                transform-origin: bottom left;
                transition: transform 0.3s ease;
            }

            &.active::after,
            &:hover::after {
                transform: scaleX(1);
            }
        }

        @include mobile {
            position: fixed;
            bottom: 0;
            left: 0;
            height: 5rem;
            width: 100%;
            background-color: $body-bg;
            padding: 0 2rem;
            box-shadow: $box-shadow;

            @include flex(center, space-between);

            & > * ~ * {
                margin-left: 0;
            }
        }
    }
}
