@use "../../scss/" as *;

.footer {
  position: relative;
  padding: 3rem 0.1rem;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  .rightsReserved {
    text-align: center;
  }
  .footerHr {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    border: none;
    height: 4px;
    animation-name: color-change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes color-change {
    0% {
      background-color: red;
    }
    10% {
      background-color: orange;
    }
    25% {
      background-color: yellow;
    }
    40% {
      background-color: green;
    }
    55% {
      background-color: blue;
    }
    70% {
      background-color: indigo;
    }
    85% {
      background-color: violet;
    }
    100% {
      background-color: red;
    }
  }
  
  &__content {
    max-width: 1000px;

    &__logo {
      @include flex(center, center);
      margin-bottom: 3rem;
    }

    &__menus {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      @include mobile {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &__menu {
      @include flex(flex-start, flex-start);
      flex-direction: column;
      margin-top: 1rem;

      font-size: 1.5rem;
      font-weight: 600;

      & > * ~ * {
        margin-top: 1rem;
      }
    }
  }
}
