@use "../../scss/" as *;

.banner {
    height: 98vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include overlay();
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
    }
}

.movie-content {
    @include flex(flex-start, flex-start);
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -730px;
    position: relative;
    padding: 0 2rem;

    .buttons{
        margin-bottom: 20px;
    }
    .overview{
        font-size: 20px;
        font-weight: 400;
    }
    &__poster {
        flex: 1;

        @include mobile {
            display: none;
        }

        &__img {
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 5rem;
            padding-top: 120%;
        }
    }

    &__info {
        width: 70%;
        padding-left: 2rem;
        position: relative;

        @include mobile {
            width: 100%;
            padding-left: 0;
        }

        & > * {
            margin-bottom: 2rem;
        }

        .title {
            font-size: 4rem;
            line-height: 0.75;
            margin-bottom: 3rem;
        }
        .fadedHR{
            width: 100%;
            background: linear-gradient(to right, transparent, white, transparent);
            border: none;
            height: 3px;
        }

        .genres {
            & > * ~ * {
                margin-left: 0.5rem;
            }
            &__item {
                padding: 0.5rem 1.5rem;
                border: 2px solid $white;
                border-radius: $border-radius;
                font-size: 1.1rem;
                font-weight: 600;
                background: rgba(0%, 0%, 0%, 0.2)
            }
            &__items {
                padding: 0.5rem 1.5rem;
                border-radius: 10px;
                font-size: 1.3rem;
                font-weight: 600;
                background: rgba(0%, 0%, 0%, 0.3)
            }
        }
    }
    .movie__production{
        padding: 2rem;
        background-color: rgba(182, 182, 182, 0.363);
        border-radius: 2rem ;
        transition: all 0.2s ease;
        &.movie__production:hover{
            transform: scale(1.02);
        }
    }
    .movie__productionComapany{
        max-height: 100%;
    }
    .productionCompanyImage {
        display: inline-block;
        width: 250px;
        height: 250px;
        padding: 1rem;
    }
    .companyText{
        margin-top: 1rem;
    }
}

.casts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 1.5rem;

    &__item {
        &__img {
            padding-top: 160px;
            background-size: cover;
            margin-bottom: 0.5rem;
        }

        &__name {
            font-size: 0.9rem;
        }
    }
}

.video {
    margin-bottom: 3rem;

    &__title {
        margin-bottom: 1.5rem;
    }
}
